* {
  margin: 0 auto;
  padding: 0 auto;
  font-style: oblique;
  font-family: Arial, Helvetica, sans-serif;
  color: honeydew;
  background: indigo;
}
table,
tr,
td {
  border: 1px dashed black;
  border-collapse: collapse;
  margin-top: 1em;
  padding: 15px;
  background: rebeccapurple;
}
button,
.del {
  border: none;
  color: saddlebrown;
  border-radius: 5px;
  padding: 3px 8px;
  background: lavenderblush;
}
input {
  margin: 0 20px;
}
h1 {
  text-align: center;
  margin-bottom: 1em;
}
div {
  align-items: center;
}
